{
  "./{apps,packages}/**/src/*.{ts,tsx}": [
    "pnpm run check:types",
    "pnpm run test"
  ],
  "**/*.{js,json,ts,tsx}": ["pnpm run lint:fix"],
  "**/*.{js,jsx,ts,tsx,json,css,md}": ["pnpm run format:fix"]
}
